<div class="col-12 col-sm-6 col-lg-4 pt-2 d-flex">
  <div class="card skill-card w-100">
    <div class="card-head d-flex align-items-center">
      {{ if .icon }}
        <img class="card-img-xs" src="{{ .icon }}" alt="{{ .name }}" />
      {{ else if .faIcon }}
        <span class="skill-fa-icon"><i class="{{ .faIcon }}"></i></span>
      {{ end }}
      <h5 class="card-title mb-0">{{ .name }}</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{ .summary | markdownify }}</p>
      {{ with .tags }}
      <div class="skill-tags">
        {{ range . }}<span class="chip">{{ . }}</span>{{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
