<div class="container anchor p-lg-5 about-section" id="{{ replace (lower .section.name) " " "-" }}">
  <div class="row pt-sm-2 pt-md-4 align-self-center">
    <!-- summary -->
    <div class="col-lg-6">
      <h3 class="p-1">{{ site.Params.author.name }}</h3>
      {{ if .designation }}
      <h5 class="p-1 about-designation">
        {{ .designation }}
        {{ if .company }}
          at <a href="{{ .company.url }}" target="_blank" rel="noopener">{{ .company.name }}</a>
        {{ end }}
      </h5>
      {{ end }}
      <div class="p-1 about-summary">
        {{ .summary | markdownify }}
      </div>
      <div class="text-container">
        <ul class="social-link d-flex">
          {{ range .socialLinks }}
          <li>
            {{ if eq .name "Email" }}
              <a href="mailto:{{ .url }}" title="{{ .name }}"><i class="{{ .icon }}"></i></a>
            {{ else }}
              <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"><i class="{{ .icon }}"></i></a>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
      {{ if .resume }}
      <a href="{{ .resume }}" target="_blank" rel="noopener" class="btn btn-dark btn-resume"><i class="fas fa-file-download"></i> My Resume</a>
      {{ end }}
    </div>
    <!-- highlights: what I do now -->
    <div class="col-lg-6 pt-4 pt-lg-0 pl-lg-4">
      {{ if .highlights }}
      <div class="highlights">
        {{ range .highlights }}
        <div class="highlight-card d-flex">
          <div class="highlight-icon"><i class="{{ .icon }}"></i></div>
          <div class="highlight-body">
            <h6>{{ .title }}</h6>
            <p>{{ .summary | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
      {{ else }}
      <div class="row">
        {{ range .softSkills }}
          {{ partial "misc/soft-skills.html" . }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
