<div class="container-fluid anchor pb-5 skills-section" id="{{ replace (lower .section.name) " " "-" }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  <div class="container d-flex-block">
    {{ if .categories }}
      {{ range .categories }}
      <div class="skill-category">
        <h4 class="skill-category-title">{{ .name }}</h4>
        <div class="row">
          {{ range .skills }}
            {{ partial "cards/skill.html" . }}
          {{ end }}
        </div>
      </div>
      {{ end }}
    {{ else }}
    <div class="row">
      {{ range .skills }}
        {{ partial "cards/skill.html" . }}
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>
